<div id="<%= dom_id user %>">
  <p>
    <strong>Id telegram:</strong>
    <%= user.id_telegram %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

</div>
